<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> 현재 가입중인 모든 유저 </h1>
    <table border = "1">
        <thead>
            <tr>
                <th>Seq</th>
                <th>ID</th>
                <th>PW</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.loginId}"></td>
                <td th:text="${user.loginPassword}"></td>
            </tr>
        </tbody>
    </table>
    <a href="/">돌아가기</a>
</body>
</html>