# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Gradle Build & Junit5 Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: gradle
    # Gradle wrapper 권한 설정
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    # Mysql 설정
    - name: Setup MySQL
      uses: mirromutth/mysql-action@v1.1
      with:
        character set server: 'utf8'
        mysql user: 'developer'
        mysql password: ${{secrets.DatabasePassword}}
    
    # Test용 설정 주입
    - name: setup spring boot mysql Database settings 
      run : |
        mkdir ./src/test/java/resources
        chmod -R 777 .github 
        mv .github/workflows/test_application.properties ./src/test/java/resources/application.properties

        docker ps -a
        
    #Build 확인
    - name: Build with Gradle
      run: ./gradlew build
