# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Gradle Build & Junit5 Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: gradle
    # Gradle wrapper 권한 설정
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    # H2 Database 설치
    - name: setup H2 Database
      run: docker run --name test-db -d buildo/h2database
    
    # Test용 설정 주입
    - name: setup docker H2 Database environment variable
      run : echo spring.datasource.url=jdbc:h2:tcp://test-db/forum > ./src/test/java/resources/application.properties
      
    #Build 확인
    - name: Build with Gradle
      run: ./gradlew build
    - name: Test with Gradle
      run: ./gradlew --info test
